section.browse-by-category
	h2(hidden) Browse by category
	.container.browse-by-category__inner
		h2.browse-by-category__title Browse by category
		nav.browse-by-category__group
			a.browse-by-category__link(href="#") Abstract
			a.browse-by-category__link(href="#") Animals/Wildlife
			a.browse-by-category__link(href="#") The Arts
			a.browse-by-category__link(href="#") Backgrounds/Textures
			a.browse-by-category__link(href="#") Beauty/Fashion
			a.browse-by-category__link(href="#") Buildings/Landmarks
		nav.browse-by-category__group
			a.browse-by-category__link(href="#") Business/Finance
			a.browse-by-category__link(href="#") Celebrities
			a.browse-by-category__link(href="#") Editorial
			a.browse-by-category__link(href="#") Education
			a.browse-by-category__link(href="#") Food and Drink
			a.browse-by-category__link(href="#") Healthcare/Medical
		nav.browse-by-category__group
			a.browse-by-category__link(href="#") Holidays
			a.browse-by-category__link(href="#") Illustrations/Clip-Art
			a.browse-by-category__link(href="#") Industrial
			a.browse-by-category__link(href="#") Interiors
			a.browse-by-category__link(href="#") Miscellaneous
			a.browse-by-category__link(href="#") Model Released Only
		nav.browse-by-category__group
			a.browse-by-category__link(href="#") Nature
			a.browse-by-category__link(href="#") Objects
			a.browse-by-category__link(href="#") Parks/Outdoor
			a.browse-by-category__link(href="#") People
			a.browse-by-category__link(href="#") Religion
			a.browse-by-category__link(href="#") Science
		nav.browse-by-category__group
			a.browse-by-category__link(href="#") Signs/Symbols
			a.browse-by-category__link(href="#") Sports/Recreation
			a.browse-by-category__link(href="#") Technology
			a.browse-by-category__link(href="#") Transportation
			a.browse-by-category__link(href="#") Vectors
			a.browse-by-category__link(href="#") Vintage