$Montserrat: Montserrat, sans-serif;

$AC_dark_frey: #484242;

$TAC_white: #ffffff;
$TAC_light_grey: #636363 / .55;
$TAC_grey: #8b8b8b;
$TAC_middle_grey: #777777;
$TAC_dark_grey: #636363;

$transition: .3s ease;